@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type=checkbox] {
    @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded mr-1
  }

  select, input[type=text], input[type=date] {
    @apply focus:ring-indigo-500 focus:border-indigo-500 w-full rounded text-sm border-gray-300
  }
}

@layer components {
    /* .my-react-select-container {
    } */
    .select-container .select__control {
        @apply border-2;
        @apply bg-white border-neutral-300;
        @apply dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
    }

    .select-container .select__control--is-focused {
        @apply shadow-none;
        @apply border-neutral-500 hover:border-neutral-500;
        @apply dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
    }

    .select-container .select__menu {
        @apply border-2;
        @apply bg-neutral-100 border-neutral-300;
        @apply dark:bg-neutral-700 dark:border-neutral-600;
    }

    .select-container .select__option {
        @apply text-neutral-600 bg-neutral-100 hover:bg-neutral-200;
        @apply dark:text-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
    }

    .select-container .select__indicator-separator {
        @apply bg-neutral-400;
    }

    .select-container .select__input-container,
    .select-container .select__placeholder,
    .select-container .select__single-value {
        @apply text-neutral-600;
        @apply dark:text-neutral-200;
    }
}

.bg-menu {
    background-color: #5b21b6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%238f54ed' fill-opacity='0.31'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.event-tag {
    @apply text-xs inline-block px-2 mr-1 lowercase rounded;
}

.event-tag-party {
    @apply text-red-900 bg-red-100 dark:text-red-900 dark:bg-red-100;
}

.event-tag-pratica {
    @apply text-blue-900 bg-blue-100 dark:text-blue-900 dark:bg-blue-100;
}

.event-tag-class {
    @apply text-purple-900 bg-purple-100 dark:text-purple-900 dark:bg-purple-100;
}

.event-tag-workshop {
    @apply text-orange-900 bg-orange-100 dark:text-orange-900 dark:bg-orange-100;
}

.event-tag-festival {
    @apply text-green-900 bg-green-100 dark:text-green-900 dark:bg-green-100;
}

.btn {
    @apply py-1 md:py-2 px-2 md:px-4 border border-transparent shadow-sm text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.btn-violet {
    @apply text-white bg-violet-500 hover:bg-violet-600 focus:ring-violet-500;
}

.btn-green {
    @apply text-white bg-green-500 hover:bg-green-600 focus:ring-green-500;
}

.btn-emerald {
    @apply text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-emerald-500;
}

.btn-neutral {
    @apply text-white bg-neutral-500 hover:bg-neutral-600 focus:ring-neutral-500;
}

.btn-red {
    @apply text-white bg-red-500 hover:bg-red-600 focus:ring-red-500;
}

$event-bg: #fff;
$event-color: rgba(var(--colors-primary-rgb), var(--tw-text-opacity));
@import 'react-big-calendar/lib/sass/styles';

.rbc-today {
    @extend .rbc-today;
    @apply bg-purple-700;
    @apply dark:bg-purple-600;
}

.rbc-now {
    @extend .rbc-now;
    @apply text-white;
}

.rbc-off-range-bg {
    @extend .rbc-off-range-bg;
    @apply bg-gray-300;
    @apply dark:bg-stone-700;
}

.rbc-day-bg + .rbc-day-bg {
    @apply border-gray-200;
    @apply dark:border-gray-600;
}

.rbc-month-view {
    @extend .rbc-month-view;
    @apply border-gray-200;
    @apply dark:border-gray-600;
}

.rbc-month-header {
    @extend .rbc-month-header;
    @apply sticky top-[250px] md:top-[250px] lg:top-[210px] z-30;
    @apply bg-white;
    @apply dark:bg-gray-700;
}

.rbc-header {
    @extend .rbc-header;
    @apply border-b-gray-200;
    @apply dark:border-b-gray-600;

    & + & {
        @apply border-l-gray-200;
        @apply dark:border-l-gray-600;
    }
}

.rbc-month-row {
    @extend .rbc-month-row;
    @apply grow;
    flex-basis: max-content;
    min-height: 130px;
    height: max-content;

    @apply odd:bg-white even:bg-gray-50;
    @apply odd:dark:bg-gray-800 even:dark:bg-gray-700;

    & + & {
        @apply border-t-gray-200;
        @apply dark:border-t-gray-600;
    }
}

.rbc-event {
    @extend .rbc-event;
    @apply cursor-default border border-solid mb-1 shadow;
    @apply bg-white border-gray-200;
    @apply dark:bg-gray-700 dark:border-gray-600;

    &.rbc-selected {
        @apply bg-white border-gray-200;
        @apply dark:bg-gray-700 dark:border-gray-600;
    }

    &:focus {
        outline: none !important;
    }
}
